.header-section .navbar .nav-list .nav-item:hover,
.header-section .navbar .nav-list .active {
  border-bottom: 2px solid #555555b0;
  cursor: pointer;
}
.header-section .navbar .nav-list .nav-item:hover:active {
  border-bottom: 2px solid #494848ea;
  color: #494848ea;
}
.header-section .navbar .nav-btn:hover {
  background: #2469ffe8;
  cursor: pointer;
}
.header-section .navbar .nav-btn:active {
  background: #2468ff;
}
.header-section .showcase-section .showcase-section__shop-btn:hover {
  background-color: #fff;
  color: black;
  transition: ease-in 75ms;
}
.header-section .showcase-section .showcase-section__shop-btn:active {
  background-color: #fff;
  color: black;
  border-color: black;
}

/* More wifi */
.more-wifi {
  /* Explore */
  /* More Connection */
}
.more-wifi .explore .explore__link:hover {
  border-bottom: 1px solid #55555570;
}
.more-wifi .explore .explore__link:active {
  border-bottom: 1px solid #55555570;
}
.more-wifi .more-connection .more-connection__btn:hover {
  background-color: #2469ffd7;
}
.more-wifi .more-connection .more-connection__btn:active {
  background-color: #2468ff;
}

/* Wifi Section */
.wifi-router .wifi-router__cards .wifi-router__card .wifi-router__btn:hover {
  background-color: #2469ffc9;
}
.wifi-router .wifi-router__cards .wifi-router__card .wifi-router__btn:active {
  background-color: #2468ff;
}
.wifi-router .wifi-router__allmodels:hover {
  border-bottom: 1px solid #ffffff80;
  cursor: pointer;
}
.wifi-router .wifi-router__allmodels:active {
  border-bottom: 1px solid #55555570;
}