.header-section .navbar .nav-list .nav-item:hover,
.header-section .navbar .nav-list .active {
  border-bottom: 2px solid #555555b0;
  cursor: pointer;
}
.header-section .navbar .nav-list .nav-item:hover:active {
  border-bottom: 2px solid #494848ea;
  color: #494848ea;
}
.header-section .navbar .nav-btn:hover {
  background: #2469ffe8;
  cursor: pointer;
}
.header-section .navbar .nav-btn:active {
  background: #2468ff;
}
.header-section .showcase-section .showcase-section__shop-btn:hover {
  background-color: #fff;
  color: black;
  transition: ease-in 75ms;
}
.header-section .showcase-section .showcase-section__shop-btn:active {
  background-color: #fff;
  color: black;
  border-color: black;
}