/* Min width 1200px*/
@media (min-width: 75em) {
  .header-section .navbar {
    height: 6em;
  }
  .header-section .navbar .nav-toggle {
    display: none;
  }
  .header-section .navbar .nav-list, .header-section .navbar .nav-btn {
    display: flex;
  }
  .header-section .navbar .nav-brand {
    width: 110px;
  }
  .header-section .navbar .layer {
    height: 9.6vh;
  }
  .header-section .showcase-section {
    font-size: 1em;
  }
  .header-section .showcase-section .showcase-section__title {
    font-size: 3.5em;
  }
  .header-section .showcase-section .showcase-section__subtitle {
    font-size: 1.5em;
  }
}