/* Wifi Home Section */
.wifi-home {
  /* Wi-Fi home */
  /* Whole home */
}
.wifi-home .d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  text-align: center;
}
.wifi-home__title, .wifi-home__subtitle {
  margin: 0.7em 0;
}
.wifi-home__subtitle {
  color: #404040;
}
.wifi-home__image {
  margin-top: 1em;
}
.wifi-home .whole-home {
  background-color: #161f49;
  color: #fff;
}
.wifi-home .whole-home .d-flex {
  height: 40em;
}
.wifi-home .whole-home__title, .wifi-home .whole-home__subtitle, .wifi-home .whole-home__btn {
  margin: 1em 0;
  text-align: center;
}
.wifi-home .whole-home__btn {
  text-decoration: none;
  background-color: #2468ff;
  color: #fff;
  text-transform: uppercase;
  padding: 0.6em 1em;
  font-size: 0.9em;
  max-width: 16em;
  margin: 2em auto;
}