/* Footer Section */

.footer {
    text-align: center;
    background-color: #161f49;
    color: white;
    & .footer-brand {
        padding: 2em 0;
    }

    &__links {
        margin: 2em 0;
    }

    .footer-links {
        .footer-links__col {
            a {
                display: block;
                color: #fff;
                text-decoration: none;
                font-size: 1.1em;
                margin: 0.4em 0;
            }
        }
        &__contact {
            margin: 1.5em 0;
            & .footer-links__title {
                font-size: 2em;
            }
            & .footer-links__subtitle {
                font-size: 1.3em;
            }
            & .footer-links__input,
            & .footer-links__title,
            & .footer-links__subtitle {
                margin: 0.7em 0;
            }

            & .footer-links__input {
                margin: 0 0 3.3em 0;
                padding: 0.8em 0;
                background-color: transparent;
                border: none;
                font-size: 1.12em;
                border-bottom: 1px solid #fff;
                max-width: 13em;
                color: #fff;
                outline: none;
                text-transform: uppercase;
            }

            & .email-btn {
                text-transform: uppercase;
                border: 1px solid #ffffff;
                color: #ffff;
                padding: 1em 3em;
                text-decoration: none;
            }
        }
    }

    .footer-copyright {
        &__title,
        &__social {
            padding: 0.7em 0;
        }
        &__social {
            padding: 1em 0 2em 0;
            img {
                margin: 0 0.3em;
            }
        }
    }
}