/* Min width 880px*/
@media (min-width: 55em) {
    /* Wifi Router Section */
    .wifi-router {
        background-position: top;
        padding: 1em;
        & .wifi-router__cards {
            display: flex;
            padding-top: 0em;
            
            height: 131vh;
            align-items: flex-end;
            justify-content: space-between;
            
            & .wifi-router__card {
                margin: 10em 0;

            }
        }
        & .wifi-router__allmodels {
            margin: auto;
        }
    }
}

/* Min width 1200px*/
@media (min-width: 75em) {
    .header-section {
        & .navbar {
            height: 6em;

            & .nav-toggle {
                display: none;
            }

            & .nav-list,
            & .nav-btn {
                display: flex;
            }

            & .nav-brand {
                width: 110px;
            }

            & .layer {
                height: 9.6vh;
            }
        }

        & .showcase-section {
            // & .showcase-section__image {
            //     margin-top: 13em;
            // }
            font-size: 1em;
            & .showcase-section__title {
                font-size: 3.5em;
            }
            & .showcase-section__subtitle {
                font-size: 1.5em;
            }
        }
    }
    /* Journal Section */
    .journal-section {
        font-size: 1.5em;
        & .journal-section__title {
            margin-bottom: 1em;
            max-width: 80%;
            font-weight: bold;
            font-size: 1.3em;
            color: #ffffff;
        }
    }
}
