/* Min width 880px*/
@media (min-width: 55em) {
    /* Wifi Router Section */
    .wifi-router {
        background-position: top;
        padding: 1em;
        & .wifi-router__cards {
            display: flex;
            padding-top: 0em;

            height: 131vh;
            align-items: flex-end;
            justify-content: space-between;

            & .wifi-router__card {
                margin: 10em 0;
            }
        }
        & .wifi-router__allmodels {
            margin: auto;
        }
    }

    /* Wifi Home Section */
    .wifi-home {
        .d-flex {
            height: 140vh;
            font-size: 1.3em;
        }
        &__title,
        &__subtitle {
            margin: 1em 0;
        }
        &__image {
            margin-top: 2em;
        }
    }

    /* Never Worry Wifi Section */
    .never-worry {
        &-wifi {
            & .never-worry__cards {
                display: flex;
                justify-content: space-around;
            }
            & .never-worry__title-section {
                font-size: 2.4em;
                margin: 2em 0 1.5em 0;
            }
            & .never-worry__card {
                color: #404040;
                margin: 2em 1em 4em 1em;
                max-width: 14em;
                & .never-worry__icon {
                    margin: 0 0 1em 0;
                }
                & .never-worry__title {
                    font-size: 1.8em;
                }
                & .never-worry__btn {
                    margin: 5em 0 0 0;
                }
            }
        }
    }

    /* Stay Connected Section */

    .stay-connected {
        height: 50em;
        color: white;
        &__title {
            font-size: 3em;
            margin: 1em 0;
        }
    }

    /* Footer Section */
    .footer {
        text-align: start;
        padding: 2.2em 0;
        & .footer-brand {
            padding: 2.2em 0;
        }
        .footer-links {
            display: flex;
            justify-content: space-between;
            .footer-links__col {
                a {
                    margin: 0.8em 0;
                }
            }
            &__contact {
                margin: 1.5em 0;
                & .footer-links__title {
                    font-size: 2.2em;
                }
                & .footer-links__subtitle {
                    font-size: 1.3em;
                }
                & .footer-links__input,
                & .footer-links__title,
                & .footer-links__subtitle {
                    margin: 0;
                }
                & .footer-links__input,
                & .footer-links__subtitle {
                    margin: 1em 0;
                }

                & .footer-links__input {
                    margin: 0 0 3.3em 0;
                }
                & .email-btn {
                    margin: 0 0 0 2em;
                }
            }
        }

        .footer-copyright {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2em 0;
            &__title {
                padding: 0;
            }
            &__social {
                padding: 0;
                img {
                    margin: 0 0.6em;
                }
            }
        }
    }
}

/* Min width 1200px*/
@media (min-width: 75em) {
    .header-section {
        & .navbar {
            height: 6em;

            & .nav-toggle {
                display: none;
            }

            & .nav-list,
            & .nav-btn {
                display: flex;
            }

            & .nav-brand {
                width: 110px;
            }

            & .layer {
                height: 9.6vh;
            }
        }

        & .showcase-section {
            // & .showcase-section__image {
            //     margin-top: 13em;
            // }
            font-size: 1em;
            & .showcase-section__title {
                font-size: 3.5em;
            }
            & .showcase-section__subtitle {
                font-size: 1.5em;
            }
        }
    }
    /* Journal Section */
    .journal-section {
        font-size: 1.5em;
        & .journal-section__title {
            margin-bottom: 1em;
            max-width: 80%;
            font-weight: bold;
            font-size: 1.3em;
            color: #ffffff;
        }
    }
}
