/* Wifi Home Section */

.wifi-home {
    .d-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
        text-align: center;
    }
    &__title,
    &__subtitle {
        margin: 0.7em 0;
    }
    &__subtitle {
        color: #404040;
    }
    &__image {
        margin-top: 1em;
    }
}